
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


.container-fluid {
    margin-top: 35px;
}

.form-group {
    padding: 10px;
}
.submit-btn{
    width:300px
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}
.heading{
    text-align: center;
    margin-top: 10px;

}
form{
    margin:20px;
}
